body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;

	font-size: 18px;
	line-height: 1.5;
	font-weight: 200;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

td{
	padding: 0px;
}
th{
	padding: 0px;
}

p{
	font-size: 18px;
}
/* table{ */
	/* border-spacing: 0px 1px; */
/* } */
#scroll{
	position: fixed;
	z-index: 1;
	opacity: 100;
	width: 100%;
	/* box-shadow: 0 1px 6px rgba(0,0,0,0.22);/* Параметры тени */
}
.scroll{
	box-shadow: 0 1px 6px rgba(0,0,0,0.22);/* Параметры тени */
}
/*-----------------------------------------Header-----------------------------------------*/

.header_ {
	width: 100%;
	padding-top: 13px;

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	color : #000000;
	margin-bottom: 10px;
	height: 110px;	
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.header_item{
	position: relative;
}

.header_item_logo{
	position: relative;
}

.header_text{
	padding-left: 60px;
	text-align: center;
	font-weight: 400;
}

.header_text1{
	padding-left: 0px;
}

.header_text2{
	padding-left: 60px;
	text-align: center;
	font-weight: 400;
}

.header_text3{
	padding-left: 60px;
	text-align: center;
	font-weight: 400;
}

.header_text4{
	visibility: hidden;
    display: none;
}

.header_text_image{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 45px; 
	height: 45px;
}

.header_info {
	line-height: 1.8;
}

.header_info_1 {
	padding: 0;
	line-height: 1.8;
}

.header_info_2 {
	line-height: 1.8;
}


/*---------------------------------Container-----------------------------------*/
.container{
	width: 100%;
	max-width: 1200px;
	/* max-height: 110px; */
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

hr{
	display: block;
	width: 100%;
	height: 1px;
	margin: 40px 0; 

	border: 0;

	background-color: #e5e5e5;
}
/*-----------------------------------------Меню навигации--------------------------*/
.menu-main{
	position: absolute;
	width: 100%;
	list-style: none;

	font-weight: 300;
	font-size: 20px;
	background-color: #ebe2e8;
	word-spacing: normal;
	
	z-index: 1000;
}
.menu {
	font-size: 20px;
	height: 70px;
	text-align: center;		
}
#top-menu{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	margin: 0px 125px;
	padding: 0 0 0 0px;
}
.menu-main:active{
	color: #ebe2e8;
}

.top_{
	display: block;
	padding: 20px 0;	
	color: #000000;	
	text-decoration: none;
}

.top1 {
	display: block;
	padding: 20px 0;
	color: #000000;	
	text-decoration: none;
}

.active-button{
	display: block;
    padding: 20px 0;
    color: #997A90;
    text-decoration: none;
    font-weight: 700;
    background: 0 0;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,#000 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
    
    background-repeat: repeat-x;
    background-position: 0 65%;
    background-size: 1px 1px;
}
.active-button1{
	display: block;
    padding: 20px 0;
    color: #754e6a;
    text-decoration: none;
}
.top_:hover {
	color: #754e6a;	
	text-decoration: none;
}

.top_0:hover {
	color: #754e6a;	
	text-decoration: none;
}

.sub-menu {
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 16px;
	text-align: left;
	line-height: 0.7;
	top: 120%;
	left: 28%;
	border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-menu1{
	content: "";
	position: absolute;
	z-index: 5;
	left: 38%;
	top: 92%;
	width: 0;
	height: 0;
	border: 100px solid;
	border-width: 10px;
	border-color: transparent;
	border-bottom-color: white;
	transform: translate(-50%);
	opacity: 1;
	transition: .3s;
	display: none;
}

/* Links inside the dropdown */
.sub-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Show the dropdown menu on hover */
.top1:hover .sub-menu {display: block; transition: .3s;}
.top1:hover .sub-menu1 {display: block;}
.sub-menu:active{
    color: #ebe2e8;
}
.sub-menu1:active{
    color: #ebe2e8;
}


/*-----------------------------------------Гамбургер меню--------------------------*/
.hamburger-menu{
	visibility: hidden;
    display: none;
}
.podmenu{
	display: none;
	 z-index: 10001;
}
.top1_mediaMyPhone{
	display: block;
	
	color: #fff;	
	text-decoration: none;
	
	display: block;
	padding: 8px 18px;
	margin-left: 8px;

	font-size: 24px;
	font-weight: 400;

	transition-duration: .25s;
}

.sub-menu_mediaMyPhone{
	width: 310px;
	height: 160px;
	
	font-size: 15px;
	text-align: left;
	line-height: 1.3;
	top: 30.9%;
	left: -37%;
	right: 10%;
	border-radius: 2px;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2);
    z-index: 10001;
}

.sub-menu1_mediaMyPhone{
	content: "";
	position: absolute;
	z-index: 5;
	left: 27%;
	top: 28%;
	width: 0;
	height: 0;
	border: 100px solid;
	border-width: 10px;
	border-color: transparent;
	border-bottom-color: white;
	transform: translate(-50%);
	opacity: 1;
	transition: .3s;
}

/* Links inside the dropdown */
.sub-menu_mediaMyPhone a{
    color: black;
	
	margin-top: 13px;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
}
/* Show the dropdown menu on hover */
.top1_mediaMyPhone:hover .sub-menu_mediaMyPhone {display: block; transition: .3s; color: #ebe2e8;}
.top1_mediaMyPhone:hover .sub-menu1_mediaMyPhone {display: block; color: #ebe2e8;} 
.sub-menu_mediaMyPhone:active{
    color: #ebe2e8;
}

#menu__t {
  opacity: 0;
}

#menu__t:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu_b {
  display: flex;
  align-items: center;
  position: fixed;
  top: 14px;
  right: 15px;

  cursor: pointer;
  z-index: 1;
  
    /* visibility: hidden; */
}

.menu__b {
  display: flex;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 13px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 100000;
}



#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 56px;
  right: 8px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 55px;
  right: 7px;

  width: 50px;
  height: 50px;

  cursor: pointer;
  z-index: 100000;
}


.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;

  width: 245px;
  height: 100%;

  margin: 0;
  padding: 46px 0;

  list-style: none;

  background-color: #754E6A;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
  z-index: 10000;
}

.menu__item {
  display: block;
  padding: 8px 17px;
  margin-left: 8px;

  color: #ffffff;

  font-size: 24px;
  font-weight: 400;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
	color: ##997a90;
}

.menu__box_img_close{
	/* visibility: visible; */
  /* visibility: hidden; */
  
  /* display: block; */
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */

  /* margin: 0; */
  padding: 15px 15px;

  /* list-style: none; */

  /* transition-duration: .25s; */
  /* z-index: 10000; */
  
    display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;

  cursor: pointer;
  z-index: 1;
}

.menu__box_icon1{
	display: block;
	position: fixed;
	bottom: 10px;
	padding-left: 20px;
}

.menu__box_icon2{
	display: block;
	position: fixed;
	bottom: 10px;
	padding-left: 60px;
}

.menu__box_icon3{
	display: block;
	position: fixed;
	bottom: 10px;
	padding-left: 100px;
}

/*-----------------------------------------Полоска при скролле--------------------------*/

/* Style the header: fixed position (always stay at the top) */
.header {
	position: fixed;
	top: 0;
	z-index: 1001;
	width: 100%;
}

/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 4px;
	background: #ebe2e8;
	opacity: 0.1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 4px;
	background: #754e6a;
	width: 0%;
}

/*-----------------------------------------Полоска при скролле--------------------------*/

/* Style the header: fixed position (always stay at the top) */
.header {
	position: fixed;
	top: 0;
	z-index: 1001;
	width: 100%;
}

/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 4px;
	background: #ebe2e8;
	opacity: 0.1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
	height: 4px;
	background: #754e6a;
	width: 0%;
}
/*---------------------------------------------------Itnro------------------------------*/

.intro{
	height: 800px;
	background: url("../img/intro1.png") no-repeat center;
	background-size: cover;
}

.intro_text{
	font-size: 58px;
	color: #754e6a;
	font-weight: bold;
	text-align: center;
	padding-top: 10%;
	
	line-height: 5;
	text-shadow: 0px 4px 4px #00000047; /* Параметры тени */
}

.button{
	font-size: 16px;
	background-color: #754e6a;
	font-weight: 600;
	
	/*align-items: center;*/
    position: absolute;
	border-radius: 10px;
	padding: 16px 34px;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	display: inline-block;
	text-decoration: none;
	outline: none;
	border-width: 2px 0;
	transition: 0.2s;
}

.button:hover{
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.arrow{
	height: 600px;
	/*-padding-top: 50%;-*/
	background: url("../img/arrow.png") no-repeat center;
}
.button_media{
	visibility: hidden;
    display: none;
}

/*---------------------2 блок-----------------------*/
.dom{
	color: black;
	position: relative;
}

.heading{
	font-size: 40px;
	padding-top: 8%;
	text-align: center;
	font-weight: 450;
}

.heading_text{
	font-size: 20px;
	padding-top: 2%;
	color: black;

	font-weight: 200;
	text-align: center;
}
.heading_text_media{
	visibility: hidden;
    display: none;
}


/*---------------------3 блок--------------------------------*/
.text{
	padding-top: 2%;
	position: relative;
	background: left;
}

.table{
	border-spacing: 22px;
}

.heading_item{
	font-size: 19px;
	font-weight: 600;
	padding-top: 3%;
	text-align: left;
	padding-right: 5px;
	letter-spacing: -0.4px;
}

.text_and_icon{
	font-weight: 400;
	padding-top: 3.5%;
	text-align: left;
	font-size: 18px;
}
.table_media{
	visibility: hidden;
    display: none;
}
/*------------------- 4 блок -------------------*/
.message{
	background: url("../img/message4.png");
	position: relative;
	top: 50px;
	width: 100%;
	height: 150px;
	margin: 20px auto;
	overflow: hidden;
}

.message_text{
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-top: 4%;
}
.message_text_media{
	visibility: hidden;
	display: none;
}
.message_img_phone{
	visibility: hidden;
	display: none;
}
.message_text_phone{
	visibility: hidden;
	display: none;
}
/*---------------------5 блок - Оставьте сообщение----------*/
/* form starting stylings ------------------------------- */
.form{
	font-weight: 200;
	padding-top: 7%;
	padding-left: 18.5%;
}

.group{
	position: relative;
	margin-bottom: 25px;
	font-size: 18px;
}

/* Подсказка */
input{	
	font-family: 'Arial', sans-serif;
	font-size: 17px; 
	color: #9D9D9D;
	padding-top: 3%;
	padding-bottom: 3%;
	display: block;
	width: 500px;
	border: none;
	border-bottom: 1px solid #754e6a;
}

input:focus{
	font-size: 18px;
	outline: none;
	color: #000000;
}

.img_form{
	padding-left: 90%;
}

.form_text{
	padding-left: 10%;
}

.mess{
	font-family: 'Arial', sans-serif;
	font-size: 17px; 
	color: #9D9D9D;
	padding-top: 2%;
	padding-bottom: 3%;
	display: block;
	
	border: none;
	border-bottom: 1px solid #754e6a;
	width: 500px;
	height: 94px;
	/* height: 97px; */
}

.mess:focus{
	font-size: 18px;
	outline: none;
	color: #000000;
}

.button2{
	font-size: 14px;
	background-color: #754e6a;
	font-weight: 600;
	
    position: absolute;
	border-radius: 10px;
	padding: 14px 40px;
	left: 18.5%;	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	width: 160px;
}

.button2:hover{
	cursor: pointer;
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}

/*---------------------Настройка полей формы--------------------------------*/
.form_box input {
	display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.form_box .req:invalid {
	border: 1px solid red;
	padding-left: 10px;
}
.form_box .btn_submit {
	border: none;
	width: 180px;
	text-align: center;
	background: #07a6e6;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	height: 35px;
	line-height: 28px;
	padding: 0;
}

/*--------Popup--------*/
.popup_invalid {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 380px;

    margin: auto;

	z-index: 100;
  
	font-weight: 200;
	box-shadow: 0 1px 6px rgba(0,0,0,0.22);/* Параметры тени */
}
.red {
	position: absolute;
	width: 370px;
	height: 86px;

	background: #F95D51;
	border-radius: 2px;
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.49);;/* Параметры тени */
}
.popup_invalid:target {display: block;}

.popup-close_invalid {
    display: inline-block;
    text-decoration: none;
    cursor:pointer;
	/* padding-left: 329px; */
	height: 13px;
	z-index: 100;
	padding-left: 342px;
	padding-top: 8px;
    padding-right: 10px;
}
.popup-close_invalid:hover {color: #754e6a;}

.text_okno_invalid{
	color: #fff;
	font-size: 15px;
	font-weight: 200;
	width:355px;
}

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup_valid {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	
	opacity: 1;	
	z-index: 99999;
}
#popup_valid {
	width: 360px;
    height: 218px;
    text-align: center;
    padding: 15px;
	color: #000;
	background: #fff;
    border-radius: 5px;
    /* display: none; */
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

	font-weight: 200;
	font-family: 'Ubuntu', sans-serif;

	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
#popup_valid:target {display: block;}

.popup-close_valid {
	font-weight: 200;
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 14pt;
    cursor:pointer;
	padding-left: 300px;
}


.img_close_valid:hover {color: #754e6a;}
.text_okno_valid{
	padding-top: 10px;
}
#bg_layer {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}



/*---------------------6 блок - Вакансия----------*/
.message1_img_phone{
	visibility: hidden;
	display: none;
}
.message1_text_phone{
	visibility: hidden;
	display: none;
}

.message1{
	top: 150px;
	position: relative;
	
	background: url("../img/message4.png");
	background-size: cover;
	height: 150px;
}
/* .message1{ */
	/* background: url("../img/message4.png"); */
	/* position: relative; */
	/* top: 150px; */
	/* width: 100%; */
	/* height: 150px; */
	/* margin: 20px auto; */
	/* overflow: hidden; */
/* } */

.message2{
	text-align: left;
}

.message_text1{
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-top: 4%;
}

.message_text2{
	font-size: 40px;
	color: #754e6a;
	font-weight: bold;
	padding-top: 9%;
}

.message_text3{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
	padding-top: 1%;
}

.message_text4{
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	padding-top: 1%;
}

.message_text5{
	font-size: 18px;
	color: #000000;
	font-weight: 400;
	padding-top: 1%;
}

.photo_girls{
	padding-top: 33%;
}

.button1{
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	background-color: #754e6a;
	font-weight: 600;
	
	/*align-items: center;*/
    position: absolute;
	border-radius: 10px;
	padding: 16px 34px;
	left: 77%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.button1:hover{ 
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.table1{
	width: 80%; 
	text-align: left;
}

.message_text3_phone{
	visibility: hidden;
	display: none;
}
.message_text5_phone{
	visibility: hidden;
	display: none;
}
/*---------------------Подвал--------------------------------*/
.footer_desctop{
	visibility: visible;
	display: block;
}
.footer_phone{
	visibility: hidden;
	display: none;
}
.footer{
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 629px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}

.TheMainThing_footer{
	color: #fff;
	font-size: 23px;
	/* font-weight: 900; */
	word-spacing: normal;
}

.footer_{
	padding-left: 40%;
}

.black_footer{
	position: relative;
	background: black;
	height: 92px;
	top: 629px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}


/*------------Анимация палок----------*/
@keyframes move {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 40px;
	}
}

.img_strip{
	height:40px;
	
	animation-direction: alternate;
	animation-duration: 2s;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*--------Мое лого--------*/
.img_ma{
	padding-top: 114px;
	padding-left: 70px;
}
/* .img_maaa{ */
	/* padding-top: 100px; */
	/* padding-left: 50px; */
/* } */
/*--------Контакты--------*/
.text_footer1{
	padding-top: 50px;
	float: left; 
}

.contacts_footer{
	color: #fff;
	font-size: 16px;
	line-height: 1.6;
}

.img_footer{
	font-size: 16px;
	text-align: left;
	background-size: 30 30;
}
/*--------Меню--------*/
.text_footer2{
	padding-top: 50px;
}

.menu_footer{
	font-size: 16px;
	line-height: 0;
	padding: 0px;
	padding-top: 9px;
}

.menu_footer_anim a {
	transition: 2s linear;
	line-height: 20px;
	color: #fff;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.menu_footer_anim a:hover {
    font-size: 20px;
	transition: 2 linear;
}

._{
	padding-left: 4px;
}
._1{
	padding-left: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*--------Мы в соц--------*/
.social_footer{
	padding-bottom: 10px;
}
.text_footer3{
	padding-top: 50px;
}

.img_icon_footer{
	padding-bottom: 30%;
}
/*--------Кнопка--------*/
#button_up {
    padding: 5px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    display: none;
    font-family: verdana;
    font-size: 11px;
	
	z-index: 1001;
}





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Страница Фото--------------------------------------*/

/*---------Таблица фото: HOME И GR-------------*/
.message_phone{
		visibility: hidden;
	display: none;
}
.photo_table{
	padding-top: 90px;
	width: 100%;
}

.photo_table_2{
	/* border-spacing: 50px; */
}
/*----------------------*/
.photo_table_phone{
	visibility: hidden;
	display: none;
}
.photo_table_home{
	position: relative;
	width: 100%;
	
	height: 400px;
	width: 584px;
	
	display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
	
	border-right: 25px solid #fff; 
}

.photo_table_home img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.photo_table_home img:hover {
    transform: scale(1); /* Увеличиваем масштаб */
}
   
.photo_table_home .photo_table_home_bg{
	position: absolute;
	background: #fdeef8a6;
	width: 100%;
	height: 100%;
	transition: .20s;
	
	top: 0px;
}

.photo_table_home:hover .photo_table_home_bg{
	background: #f9edf573;
}


.home_text{
	position: absolute;
	
	font-size: 40px;
	color: #754e6a;
	font-weight: 800;
	text-align: center;
	
	top: 171px;
	width: 100%;
	z-index: 1000;
}

/*----------------------*/
.photo_table_gr{
	position: relative;
	
	height: 400px;
	width: 584px;
	
	padding-right: 10px;
	
	display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
	
	border-left: 25px solid #fff
}

.photo_table_gr img {
    transition: 3s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}

.photo_table_gr img:hover {
    transform: scale(1); /* Увеличиваем масштаб */
}

.photo_table_gr .photo_table_gr_bg{
	position: absolute;
	background: #fdeef8a6;
	width: 100%;
	height: 100%;
	transition: .20s;
	
	top: 0px;
}

.photo_table_gr:hover .photo_table_gr_bg{
	background: #f9edf573;
}

.gr_text{
	position: absolute;
	
	line-height: 1.2;
	font-size: 40px;
	color: #754e6a;
	font-weight: 800;
	text-align: center;
	
	top: 161px;
	width: 100%;
	z-index: 1000;
}

/*---------Подвал страницы фото-------------*/
.footer_phone_phone{
	visibility: hidden;
	display: none;
}
.footer_photo{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 60px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы фото-------------*/
.black_footer_photo{
	position: relative;
	background: black;
	height: 92px;
	top: 60px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}

/*--------------------------------------Страница Фото Дома--------------------------------------*/

.photo_dom_table{
	visibility: visible;
	display: block;
	
	padding-top: 80px;
	width: 100%;
}
.photo_dom_table_phone{
	visibility: hidden;
	display: none;
}
/*----------------------*/
.photo_dom_1{
	position: relative;
	width: 100%;
	
	height: 395px;
	width: 395px;
	
	display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
	
	border-right: 35px solid #fff;
	border-bottom: 35px solid #fff;
}
.photo_dom_2{
	position: relative;
	width: 100%;
	
	height: 395px;
	width: 400px;
	
	display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
	
	border-left: 20px solid #fff;
	border-right: 20px solid #fff;
	border-bottom: 35px solid #fff;
}
/* .pdt{ */
	/* border-bottom: 35px solid #fff; */
/* } */
.photo_dom_3{
	position: relative;
	width: 100%;
	
	height: 395px;
	width: 395px;
	
	display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
	
	border-left: 35px solid #fff;
	border-bottom: 35px solid #fff;
}

/*---------Подвал страницы фото дома-------------*/
.footer_photo_dom{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 30px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы фото-------------*/
.black_footer_photo_dom{
	position: relative;
	background: black;
	height: 92px;
	top: 30px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Страница Услуг----------------------------------------*/
.medical_care{
	padding-top: 80px;
	width: 100%;
}

.medical_care_text{
	position: relative;
	/* padding-top: 45px; */
}
.medical_care_text_0{
	padding-top: 30px;
	font-size: 24px;
	font-weight: 900;
}
.medical_care_text_1{
	padding-top: 10px;
	font-size: 18px;
	/* font-weight: 400; */
}
.medical_care_text_2{
	padding-top: 30px;
	font-size: 24px;
	font-weight: 900;
}
.medical_care_text_3{
	padding-top: 10px;
	font-size: 18px;
	/* font-weight: 400; */
}
.medical_care_text_4{
	padding-top: 10px;
	font-size: 18px;
	/* font-weight: 400; */
}
.medical_care_text_5{
	padding-top: 20px;
	font-size: 18px;
	/* font-weight: 400; */
}

/*---------Подвал страницы Медицинский уход-------------*/
.footer_1{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 80px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы Медицинский уход-------------*/
.black_footer_1{
	position: relative;
	background: black;
	height: 92px;
	top: 80px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}



/*--------------------------------------Страница Услуг  2----------------------------------------*/

/*---------------------Блок со вставкой оглавления---------------*/

/*---------------------1 блок---------------*/
._2_services_desktop{
visibility: visible;
	display: block;
}
._2_services_1{
	padding-top: 80px;
	width: 100%;
}
._2_services_text_1{
	width: 100%;
	
	padding-left: 30px;
}
._2_services_text_1-1{
	padding-top: 20px;
	width: 100%;
	
	padding-left: 30px;
}

/*---------------------2 блок со вставкой оглавления блока---------------*/

._2_services_2{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

._2_services_logo_2{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 28px;
	top: 48px;
	width: 100%;
}
._2_services_logo_2-1{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 28px;
	top: 71px;
	width: 100%;
}
._2_services_logo_3{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 620px;
	top: 58px;
	width: 100%;
}
._2_services_logo_2_phone{
visibility: hidden;
	display: none;
}
._2_services_logo_3_phone{
visibility: hidden;
	display: none;
}
._2_services_logo_4_phone{
visibility: hidden;
	display: none;
}
._2_services_img_phone{
	visibility: hidden;
	display: none;
}
._2_services_logo_4_phone{
	visibility: hidden;
	display: none;
}
/*---------------------3 блок--------------------*/

._2_services_3{
	position: relative;
	padding-top: 30px;
	
	width: 100%;
}
._2_services_text_3_3{
	position: relative;

	padding-right: 30px;
	
	width: 800px;
}
._2_services_text_3{
	padding-top: 10px;
}

/*---------------------4 блок со вставкой оглавления блока---------------*/

._2_services_4{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

._2_services_logo_4{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 28px;
	top: 57px;
	width: 100%;
}

/*---------------------5 блок--------------------*/

._2_services_5{
	position: relative;
	padding-top: 35px;
	
	width: 100%;
	text-align:justify;
}
._2_services_text_5_1{
	position: relative;
	
	padding-right: 30px;
	
	width: 800px;
}

._2_services_text_5_2{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}

._2_services_text_5_3{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}

._2_services_text_5_4{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}


._2_services_img_5{
	padding-right: 30px;
}

/*---------Подвал страницы Медицинский уход-------------*/
.footer_2{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 40px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
.footer_1_phone{
visibility: hidden;
	display: none;
}
.footer_2_phone{
visibility: hidden;
	display: none;
}
.footer_3_phone{
visibility: hidden;
	display: none;
}
.footer_4_phone{
visibility: hidden;
	display: none;
}
/*---------Черный подвал страницы Медицинский уход-------------*/
.black_footer_2{
	position: relative;
	background: black;
	height: 92px;
	top: 40px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}


/*--------------------------------------Страница Услуг  3----------------------------------------*/

/*---------------------Блок со вставкой оглавления---------------*/
.message_1{
	visibility: visible;
	display: block;
	
	background: url("../img/message4.png");
	position: relative;
	top: 50px;
	width: 100%;
	height: 150px;
	margin: 20px auto;
	overflow: hidden;
	
	line-height: 1.3;
}

.message_text_1{
	visibility: visible;
	display: block;
	
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding-top: 2%;
}

/*---------------------1 блок---------------*/
._3_services_1{
	padding-top: 70px;
	width: 100%;
}
._3_services_text_1{
	width: 100%;
	
	padding-left: 30px;
}
._3_services_text_1_0{
	width: 900;
	padding-right: 45px;
	
	text-align:justify;
}

/*---------------------2 блок со вставкой оглавления блока---------------*/

._3_services_2{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

._3_services_logo_2{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 140px;
	top: 47px;
	width: 100%;
}
._3_services_logo_2-1{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 25px;
	top: 71px;
	width: 100%;
}
._3_services_logo_3{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 740px;
	top: 58px;
	width: 100%;
}

/*---------------------3 блок--------------------*/
._3_services_3{
	position: relative;
	padding-top: 30px;
	
	width: 100%;
	
	text-align:justify;
}
._3_services_text_3_3{
	position: relative;

	padding-right: 30px;
	
	width: 800px;
}
._3_services_text_2{
	padding-top: 10px;
}
._3_services_img{
	padding-right: 45px;
}
/*---------------------4 блок со вставкой оглавления блока---------------*/
._3_services_4{
	position: relative;
	
	padding-top: 59px;
	padding-left: 45px;
	
	width: 100%;
}

._3_services_logo_4{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 70px;
	top: 61px;
	width: 100%;
}
._3_services_logo_4-1{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 25px;
	top: 84px;
	width: 100%;
}
._3_services_logo_5{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 740px;
	top: 58px;
	width: 100%;
}
/*---------------------5 блок--------------------*/

._3_services_5{
	position: relative;
	padding-top: 30px;
	
	width: 100%;
	text-align:justify;
}
._3_services_text_5_1{
	position: relative;
	
	padding-right: 30px;
	
	width: 800px;
}

._3_services_text_5_2{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}

._3_services_text_5_3{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}

._3_services_text_5_4{
	position: relative;
	padding-top: 30px;
	
	width: 800px;
}


._3_services_img_5{
	padding-top: 15px;
	padding-left: 15px;
}

/*---------------------6 блок со вставкой оглавления блока---------------*/
._3_services_6{
	position: relative;
	
	padding-top: 65px;
	padding-left: 45px;
	
	width: 100%;
}

._3_services_logo_6{
	visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 140px;
	top: 77px;
	width: 100%;
}


/*---------------------7 блок--------------------*/

._3_services_7{
	position: relative;
	
	width: 100%;
	text-align:justify;
}
._3_services_text_7_1{
	position: relative;
	
	padding-right: 30px;
	
	width: 800px;
}

._3_services_img_7{
	padding-left: 30px;
}


/*---------------------8 блок со вставкой оглавления блока---------------*/
._3_services_8{
	visibility: visible;
	display: block;
	
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

._3_services_logo_8{
		visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 5px;
	top: 46px;
	width: 100%;
}
._3_services_logo_8-1{
		visibility: visible;
	display: block;
	
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 75px;
	top: 69px;
	width: 100%;
}

/*---------------------9 блок--------------------*/

._3_services_9{
	position: relative;
	padding-top: 30px;
	
	width: 100%;
	text-align:justify;
}
._3_services_text_9{
	position: relative;
	
	padding-right: 45px;
	
	width: 1000px;
}

.button_services{
	margin-top: 89px;
	
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	background-color: #754e6a;
	font-weight: 600;
	
	/*align-items: center;*/
    position: absolute;
	border-radius: 10px;
	padding: 21px 75px;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.button_services:hover{
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}
/*---------------------10 блок--------------------*/

._3_services_10{
	position: relative;
	padding-top: 180px;
	width: 100%;
	
	z-index: -1;
}

._3_services_text_10{
	text-align: center;
	font-weight: 800;
	
	font-size: 18px;
	width: 1400px;
	
	padding-left: 15%;
}

.oformlenie_black_{
	text-align: center;
	font-weight: 800;
	
	font-size: 18px;
}

/*---------------------11 блок со вставкой оглавления блока---------------*/
._3_services_11{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

._3_services_logo_11{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 155px;
	top: 46px;
	width: 100%;
}
._3_services_logo_11-1{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 15px;
	top: 69px;
	width: 100%;
}
._3_services_logo_12{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 750px;
	top: 58px;
	width: 100%;
}

._3_services_text_12{
	padding-left: 45px;
}

/*---------Подвал страницы 3-------------*/
.footer_3{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 200px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы 3-------------*/
.black_footer_3{
	position: relative;
	background: black;
	height: 92px;
	top: 200px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}


/*--------------------------------------Страница Услуг  4----------------------------------------*/

/*---------------------1 блок---------------*/
._4_services_1{
	padding-top: 70px;
	width: 100%;
}
._4_services_text_1{
	width: 100%;
	
	padding-left: 30px;
}
._4_services_text_1_0{
	width: 900;
	padding-right: 45px;
	
	text-align:justify;
}
._4_services_img_1{
	padding-top: 20px;
}

/*---------------------2 блок со вставкой оглавления блока---------------*/

._4_services_2{
	position: relative;
	
	padding-top: 85px;
	padding-left: 45px;
	
	width: 100%;
}

._4_services_logo_2{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 220px;
	top: 96px;
	width: 100%;
}


/*---------------------3 блок--------------------*/
._4_prices{
	padding-top: 60px;
	width: 100%;
}

/*---------------------4 блок---------------*/
._4_services_4{
	position: relative;
	
	padding-top: 60px;
	padding-left: 45px;
	
	width: 100%;
}

/*---------------------6 блок---------------*/
._4_services_6{
	position: relative;
	padding-top: 50px;
	width: 100%;
	
	z-index: -1;
}
._4_services_text_6{
	text-align: center;
	font-weight: 800;
	
	font-size: 18px;
	width: 1400px;
	
	padding-left: 15%;
}


/*---------Подвал страницы 4-------------*/
.footer_4{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 80px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы 4-------------*/
.black_footer_4{
	position: relative;
	background: black;
	height: 92px;
	top: 80px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}








/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Страница Цены--------------------------------------*/

.prices{
	padding-top: 120px;
	width: 100%;
}

.prices1{
	padding-top: 40px;
	text-align: center;
	
	width: 360px;
	height: 628px;

	background: #FAF2F7;
	border: 1px solid #754E6A;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	border-radius: 8px;
}
.prices2{
	padding-top: 40px;
	text-align: center;
	
	width: 380px;
	height: 658px;

	background: #FFFFFF;
	border: 1px solid #754E6A;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	
	margin-left: 30px;
	margin-right: 30px;
}
.prices3{
	padding-top: 40px;
	text-align: center;
	
	width: 360px;
	height: 628px;

	background: #FAF2F7;
	border: 1px solid #754E6A;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	border-radius: 8px;
}

.prices_zag{
	font-size: 30px;
	color: #754E6A;
	font-weight: 900;
}

.prices_1_1{
	font-weight: 900;
	font-size: 24px;
	
	padding-top: 25px;
}

.prices_1_2{
	font-size: 16px;
	
	padding-top: 15px;
}

.prices_2_1{
	font-weight: 900;
	font-size: 24px;
	
	padding-top: 30px;
}

.prices_2_2{
	font-size: 16px;
	
	padding-top: 15px;
}

.prices_3_1{
	font-weight: 900;
	font-size: 24px;
	
	padding-top: 25px;
}

.prices_3_2{
	font-size: 16px;
	
	padding-top: 15px;
}

.button_prices{
	font-size: 14px;
	background-color: #754e6a;
	font-weight: 600;
	
	border-radius: 30px;
	padding: 14px 40px;
	left: 18.5%;	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	width: 160px;
}

.button_prices:hover{
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}

.prices1_button_prices{
	padding-top: 20px;
}
.prices1_button_prices_2{
	padding-top: 40px;
}
/*---------Подвал страницы фото прайса-------------*/
.footer_prices{
		visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 100px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы прайса-------------*/
.black_footer_prices{
	position: relative;
	background: black;
	height: 92px;
	top: 100px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Страница Оформление--------------------------------------*/

.oformlenie{
	padding-top: 80px;
	width: 100%;
}

.oformlenie_0{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

.oformlenie_logo_1{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 21px;
	top: 58px;
	width: 100%;
}

.oformlenie_logo_2{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 710px;
	top: 58px;
	width: 100%;
}

.oformlenie_text_1{
	padding-top: 45px;
	padding-right: 40px;
}
.oformlenie_img{
	padding-top: 45px;
}
.oformlenie_text_2{
	padding-top: 15px;
	width: 766px;
}


/*--------------------------------------Страница Оформление Документы--------------------------------------*/

.oformlenie_documents{
	padding-top: 20px;
	width: 100%;
}

.oformlenie_1{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

.oformlenie_logo_3{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 61px;
	top: 47px;
	width: 100%;
}
.oformlenie_logo_3-1{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 119px;
	top: 71px;
	width: 100%;
}
.oformlenie_logo_4{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 710px;
	top: 58px;
	width: 100%;
}

.oformlenie_text_3{
	padding-top: 45px;
	padding-left: 30px;
}

.oformlenie_text_3-1{
	padding-left: 35px;
}

.oformlenie_img_1{
	padding-top: 45px;
}


/*--------------------------------------Страница Оформление Черная вставка--------------------------------------*/
.oformlenie_black{
	position: relative;
	padding-top: 25px;
	width: 100%;
}

.oformlenie_black_{
	text-align: center;
	font-weight: 800;
	
	font-size: 18px;
}

/*--------------------------------------Страница Порядок Оформления--------------------------------------*/

.oformlenie_order{
	padding-top: 20px;
	width: 100%;
}

.oformlenie_2{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

.oformlenie_logo_5{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 91px;
	top: 47px;
	width: 100%;
}

.oformlenie_logo_5-1{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 162px;
	top: 71px;
	width: 100%;
}

.oformlenie_logo_6{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 710px;
	top: 58px;
	width: 100%;
}

.oformlenie_text_4{
	padding-top: 45px;
	padding-left: 30px;
}


/*--------------------------------------Страница КАКИЕ ЛИЧНЫЕ ВЕЩИ ДОЛЖЕН ИМЕТЬ ПРИ СЕБЕ --------------------------------------*/

.oformlenie_infa{
	padding-top: 20px;
	width: 100%;
}

.oformlenie_3{
	position: relative;
	
	padding-top: 45px;
	padding-left: 45px;
	
	width: 100%;
}

.oformlenie_logo_7{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 91px;
	top: 47px;
	width: 100%;
}

.oformlenie_logo_7-1{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 66px;
	top: 71px;
	width: 100%;
}

.oformlenie_logo_8{
	position: absolute;
	
	font-size: 24px;
	color: #754e6a;
	font-weight: 800;
	
	padding-left: 643px;
	top: 58px;
	width: 100%;
}

.oformlenie_text_5{
	padding-top: 45px;
	padding-left: 30px;
}

.button_oformlenie{
	margin-top: 89px;
	
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	background-color: #754e6a;
	font-weight: 600;
	
	/*align-items: center;*/
    position: absolute;
	border-radius: 10px;
	padding: 21px 60px;
	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
	
	color: #fff; /* Цвет текста */
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.button_oformlenie:hover{
	color: #754e6a;
	background:#d6c0cf;
	box-shadow: inset 0 0 0 1px #ffffff;
}

/*---------Подвал страницы оформления-------------*/
.footer_oformlenie{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	top: 200px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы оформления-------------*/
.black_footer_oformlenie{
	position: relative;
	background: black;
	height: 92px;
	top: 200px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Страница Контакты----------------------------------------*/


.contacts{
	padding-top: 80px;
	/* padding-left: 20px; */
}
.contacts_1{
	/* padding-top: 100px; */
}

.infa0{
	padding-bottom: 80px;
}

.infa1{
	font-size: 24px;
	font-weight: 800;
	
	padding-left: 10px;
	padding-top: 20px;
}

.infa2{
	padding-left: 10px;
}

.infa3{
	font-size: 20px;
	font-weight: 200;
	
	padding-left: 10px;
	padding-bottom: 14px;
}

.infa4{
	padding-bottom: 56px;
}

.contacts_map{
	margin-top: 80px;
	height: 455px;
	background: #ebe2e8;
}

.map{
	padding-top: 35px;
	/* width: 1500px; */
}


/*---------Подвал страницы контактов-------------*/
.footer_contacts{
	visibility: visible;
	display: block;
	
	position: relative;
	background: url("../img/footer1.png");
	height: 310px;
	color: #fff;
	/* padding-left: 32%; */
	text-align: left;
	font-weight: 400;
}
/*---------Черный подвал страницы контактов-------------*/
.black_footer_contacts{
	position: relative;
	background: black;
	height: 92px;
	bottom: 0;
	font-size: 16px;
	color: #fff;
	padding-left: 40px;
	padding-top: 38px;
}


